css:
button {
 color: green;
}


body {
  background-image:url("https://i.pinimg.com/originals/37/17/bb/3717bbf43b9f20fed6af7498355a671b.gif"); 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  
  text-align: center;
}


#ColorWhenItTapped:hover {
color: cyan;
}





a:hover {
background-color: red;
}



#mirror {
  transform: scaleX(1);
  width: 350px;
  height: 550px;
  margin: 10px auto;
  display: block;
} 

.ILoveYouBorder {
border: solid;
}


#survey {
color: pink;
background-color: yellow;
border: solid 10px green;
}

#SurveyAsk {
color: yellowgreen;
}

#ButtonSurvey {
background-color: red;
color: blue;
border: solid 10px;
}
